COMPOSE_PROJECT_NAME=actions-stub

APP_IMAGE=actions-stub:local
APP_NAME=actions-stub
APP_PORT=8080

NGINX_IMAGE=nginx:1.27.5-alpine
NGINX_HTTP_PORT=8088

MARIADB_IMAGE=mariadb:11.4.5
MARIADB_PORT=3306
MARIADB_DATABASE=actions_stub
MARIADB_USER=actions_stub
MARIADB_PASSWORD=change-me-app-demo
MARIADB_ROOT_PASSWORD=change-me-root-demo

APP_CONFIG_DIR=./local/app/config
NGINX_CONFIG_DIR=./local/nginx/conf.d
NGINX_CONTENT_DIR=./local/nginx/html
MARIADB_CONFIG_DIR=./local/mariadb/conf.d
MARIADB_DATA_DIR=./local/mariadb/data
